## Location ID

## change the location ID to dummy variable specify uptown/downtown/midtown/other

In [13]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LassoCV
import matplotlib.pyplot as plt

# Load your cleaned sample
df = pd.read_csv('sample_J.csv')

downtown = [
    261, 88, 87, 209, 231, 144, 125, 114, 79, 12, 113, 74, 24,
    45, 43, 4, 42, 41, 50, 140, 142, 143, 239
]
midtown = [
    230, 90, 100, 161, 163, 164, 186, 186, 161, 170, 162, 229,
    233, 137, 107, 232, 48, 68, 113, 114, 246, 166, 144, 74
]
uptown = [
    116, 224, 243, 120, 127, 128, 153, 151, 238, 41, 152, 74, 75,
    194, 202, 262, 236, 233
]
df['PU_is_midtown'] = df['PULocationID'].isin(midtown).astype(int)
df['PU_is_uptown'] = df['PULocationID'].isin(uptown).astype(int)
df['PU_is_downtown'] = df['PULocationID'].isin(downtown).astype(int)
df['DO_is_midtown'] = df['DOLocationID'].isin(midtown).astype(int)
df['DO_is_uptown'] = df['DOLocationID'].isin(uptown).astype(int)
df['DO_is_downtown'] = df['DOLocationID'].isin(downtown).astype(int)
df = df.drop(columns=["PULocationID", 'DOLocationID'])

In [14]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,...,pickup_hour,pickup_weekday,is_peak_hour,is_night_hour,PU_is_midtown,PU_is_uptown,PU_is_downtown,DO_is_midtown,DO_is_uptown,DO_is_downtown
0,2,2023-01-01 19:06:05,2023-01-01 19:16:47,1.0,2.70,1.0,N,1,14.2,0.0,...,19,6,0,0,0,0,0,0,0,1
1,2,2023-01-31 22:32:52,2023-01-31 22:43:08,1.0,1.78,1.0,N,1,12.1,1.0,...,22,1,0,1,0,1,0,1,0,0
2,2,2023-01-04 16:30:20,2023-01-04 16:41:51,1.0,1.76,1.0,N,1,12.8,2.5,...,16,2,1,0,0,0,1,0,0,0
3,1,2023-01-28 10:44:09,2023-01-28 11:15:46,1.0,17.50,2.0,N,2,70.0,2.5,...,10,5,0,0,0,0,0,0,0,0
4,2,2023-01-20 22:09:59,2023-01-20 22:12:15,2.0,0.65,1.0,N,2,5.1,1.0,...,22,4,0,1,0,0,0,0,1,0

## Convert vendor ID to dummy variables

In [15]:
df = pd.get_dummies(df, columns=["VendorID"], prefix="vendor", drop_first=True)

In [16]:
df['vendor_2'] = df['vendor_2'].astype(int)

In [17]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,tip_amount,...,pickup_weekday,is_peak_hour,is_night_hour,PU_is_midtown,PU_is_uptown,PU_is_downtown,DO_is_midtown,DO_is_uptown,DO_is_downtown,vendor_2
0,2023-01-01 19:06:05,2023-01-01 19:16:47,1.0,2.70,1.0,N,1,14.2,0.0,1.82,...,6,0,0,0,0,0,0,0,1,1
1,2023-01-31 22:32:52,2023-01-31 22:43:08,1.0,1.78,1.0,N,1,12.1,1.0,3.42,...,1,0,1,0,1,0,1,0,0,1
2,2023-01-04 16:30:20,2023-01-04 16:41:51,1.0,1.76,1.0,N,1,12.8,2.5,2.90,...,2,1,0,0,0,1,0,0,0,1
3,2023-01-28 10:44:09,2023-01-28 11:15:46,1.0,17.50,2.0,N,2,70.0,2.5,0.00,...,5,0,0,0,0,0,0,0,0,0
4,2023-01-20 22:09:59,2023-01-20 22:12:15,2.0,0.65,1.0,N,2,5.1,1.0,0.00,...,4,0,1,0,0,0,0,1,0,1

## Convert Weekend/Weekday to dummies

In [18]:
weekend = [5,6]
df['is_weekend'] = df['pickup_weekday'].isin(weekend).astype(int)

In [19]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,tip_amount,...,is_peak_hour,is_night_hour,PU_is_midtown,PU_is_uptown,PU_is_downtown,DO_is_midtown,DO_is_uptown,DO_is_downtown,vendor_2,is_weekend
0,2023-01-01 19:06:05,2023-01-01 19:16:47,1.0,2.70,1.0,N,1,14.2,0.0,1.82,...,0,0,0,0,0,0,0,1,1,1
1,2023-01-31 22:32:52,2023-01-31 22:43:08,1.0,1.78,1.0,N,1,12.1,1.0,3.42,...,0,1,0,1,0,1,0,0,1,0
2,2023-01-04 16:30:20,2023-01-04 16:41:51,1.0,1.76,1.0,N,1,12.8,2.5,2.90,...,1,0,0,0,1,0,0,0,1,0
3,2023-01-28 10:44:09,2023-01-28 11:15:46,1.0,17.50,2.0,N,2,70.0,2.5,0.00,...,0,0,0,0,0,0,0,0,0,1
4,2023-01-20 22:09:59,2023-01-20 22:12:15,2.0,0.65,1.0,N,2,5.1,1.0,0.00,...,0,1,0,0,0,0,1,0,1,0

# Numerical here

In [23]:
# Define numeric predictors and target
num_feats = [
    'passenger_count', 'trip_distance',
    'fare_amount', 'extra',
    'tolls_amount', 'improvement_surcharge',
    'congestion_surcharge', 'airport_fee'
]
cat = [
    'is_peak_hour', 'is_night_hour',
    'PU_is_midtown', 'PU_is_uptown', 'PU_is_downtown',
    'DO_is_midtown', 'DO_is_uptown', 'DO_is_downtown',
    'vendor_2', 'is_weekend','tip_amount'
]
X = df[num_feats]
y = df['tip_amount']

# Drop missing values
X = X.dropna()
y = y.loc[X.index]

# Standardize numeric columns
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Fit Lasso with 5â€‘fold CV
lasso = LassoCV(cv=5, max_iter=5000, random_state=42)
lasso.fit(X_scaled, y)

# Extract and sort coefficients
coef = pd.Series(lasso.coef_, index=num_feats).sort_values()

In [24]:
# Convert standardized features back to DataFrame with column names
scaled_df = pd.DataFrame(X_scaled, columns=num_feats, index=X.index)

In [25]:
X_cat = df.loc[df.index, cat]  # make sure the index matches
X_final = pd.concat([scaled_df, X_cat], axis=1)

In [26]:
X_final

,passenger_count,trip_distance,fare_amount,extra,tolls_amount,improvement_surcharge,congestion_surcharge,airport_fee,is_peak_hour,is_night_hour,PU_is_midtown,PU_is_uptown,PU_is_downtown,DO_is_midtown,DO_is_uptown,DO_is_downtown,vendor_2,is_weekend,tip_amount
0,-0.404630,-0.035361,-0.251843,-0.899096,-0.26305,0.04023,0.274085,-0.310746,0,0,0,0,0,0,0,1,1,1,1.82
1,-0.404630,-0.077687,-0.374702,-0.340091,-0.26305,0.04023,0.274085,-0.310746,0,1,0,1,0,1,0,0,1,0,3.42
2,-0.404630,-0.078607,-0.333749,0.498417,-0.26305,0.04023,0.274085,-0.310746,1,0,0,0,1,0,0,0,1,0,2.90
3,-0.404630,0.645534,3.012703,0.498417,-0.26305,0.04023,0.274085,-0.310746,0,0,0,0,0,0,0,0,0,1,0.00
4,0.708888,-0.129675,-0.784233,-0.340091,-0.26305,0.04023,0.274085,-0.310746,0,1,0,0,0,0,1,0,1,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,-1.518149,-0.099770,-0.538515,1.895929,-0.26305,0.04023,0.274085,-0.310746,1,0,0,0,1,1,0,0,0,0,2.37
299996,-0.404630,-0.110352,-0.538515,-0.899096,-0.26305,0.04023,0.274085,-0.310746,0,0,1,0,0,1,0,0,1,1,0.00
299997,0.708888,-0.135195,-0.784233,0.498417,-0.26305,0.04023,0.274085,-0.310746,1,0,0,0,1,0,0,0,1,0,2.32
299998,-0.404630,-0.067566,-0.210890,0.498417,-0.26305,0.04023,0.274085,-0.310746,0,0,1,0,0,0,0,0,0,1,3.75
299999,-0.404630,-0.072167,-0.456609,0.498417,-0.26305,0.04023,0.274085,-0.310746,0,0,0,0,1,1,0,0,0,0,1.00

In [28]:
X_final.to_csv('combined_final_sample.csv', index=False)